In [1]:
import os
import json
import pandas as pd

In [7]:
#Aggre_transaction

path1 = "C:/Users/viren/OneDrive/Desktop/IIT-MADARAS(GUVI)/Phonepay project/pulse/data/aggregated/transaction/country/india/state/"
agg_tran_list = os.listdir(path1)

columns1 = {"States":[], "Years":[], "Quarter":[], "Transaction_type": [], "Transaction_count":[], "Transaction_amount":[]}

for state in agg_tran_list:
    current_states = path1 + state + "/"
    agg_year_list = os.listdir(current_states)
    
    for year in agg_year_list:
        current_year = current_states + year + "/"
        agg_file_list = os.listdir(current_year)
        
        for file in agg_file_list:
            current_file = current_year + file 
            data = open(current_file,"r")

            A = json.load(data)

            for i in A["data"]["transactionData"]:
                name = i["name"]
                count = i["paymentInstruments"][0]["count"]
                amount = i["paymentInstruments"][0]["count"]
                columns1["Transaction_type"].append(name)
                columns1["Transaction_count"].append(count)
                columns1["Transaction_amount"].append(amount)
                columns1["States"].append(state)
                columns1["Years"].append(year)
                columns1["Quarter"].append(int(file.strip(".json")))

In [8]:
aggre_transacation = pd.DataFrame(columns1)

In [9]:
aggre_transacation

,States,Years,Quarter,Transaction_type,Transaction_count,Transaction_amount
0,andaman-&-nicobar-islands,2018,1,Recharge & bill payments,4200,4200
1,andaman-&-nicobar-islands,2018,1,Peer-to-peer payments,1871,1871
2,andaman-&-nicobar-islands,2018,1,Merchant payments,298,298
3,andaman-&-nicobar-islands,2018,1,Financial Services,33,33
4,andaman-&-nicobar-islands,2018,1,Others,256,256
...,...,...,...,...,...,...
4309,west-bengal,2023,4,Merchant payments,354067997,354067997
4310,west-bengal,2023,4,Peer-to-peer payments,317959249,317959249
4311,west-bengal,2023,4,Recharge & bill payments,64920775,64920775
4312,west-bengal,2023,4,Financial Services,480740,480740
4313,west-bengal,2023,4,Others,524477,524477

In [ ]:
#aggr_user
path2 = "C:/Users/viren/OneDrive/Desktop/IIT-MADARAS(GUVI)/Phonepay project/pulse/data/aggregated/user/country/india/state/"

agg_tran_list = os.listdir(path1)

columns2 = {"States":[], "Years":[], "Quarter":[], "Transaction_type": [], "Transaction_count":[], "Transaction_amount":[]}

for state in agg_tran_list:
    current_states = path2 + state + "/"
    agg_year_list = os.listdir(current_states)
    
    for year in agg_year_list:
        current_year = current_states + year + "/"
        agg_file_list = os.listdir(current_year)
        
        for file in agg_file_list:
            current_file = current_year + file 
            data = open(current_file,"r")

            B = json.load(data)

In [ ]:
for i in B["data"]["usersByDevice"]:
                name = i["name"]
                count = i["paymentInstruments"][0]["count"]
                amount = i["paymentInstruments"][0]["count"]
                columns1["Transaction_type"].append(name)
                columns1["Transaction_count"].append(count)
                columns1["Transaction_amount"].append(amount)
                columns1["States"].append(state)
                columns1["Years"].append(year)
                columns1["Quarter"].append(int(file.strip(".json")))

In [14]:
B["data"]["usersByDevice"]

['andaman-&-nicobar-islands',
 'andhra-pradesh',
 'arunachal-pradesh',
 'assam',
 'bihar',
 'chandigarh',
 'chhattisgarh',
 'dadra-&-nagar-haveli-&-daman-&-diu',
 'delhi',
 'goa',
 'gujarat',
 'haryana',
 'himachal-pradesh',
 'jammu-&-kashmir',
 'jharkhand',
 'karnataka',
 'kerala',
 'ladakh',
 'lakshadweep',
 'madhya-pradesh',
 'maharashtra',
 'manipur',
 'meghalaya',
 'mizoram',
 'nagaland',
 'odisha',
 'puducherry',
 'punjab',
 'rajasthan',
 'sikkim',
 'tamil-nadu',
 'telangana',
 'tripura',
 'uttar-pradesh',
 'uttarakhand',
 'west-bengal']